<div style="margin-top:50px;"></div>

<div class="panel panel-default devise-bs" style="margin-left:20%;margin-right:20%;padding:3px;">
  <div class="panel-heading">
    <h4 class="dialog-jq"><%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %></h4>
  </div>
  <div class="panel-body">

    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :login %>
        <%= f.login_field :login, autofocus: true, class: "form-control"  %>
      </div>

      <%= f.submit t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions'), class: "btn btn-primary btn-sm pull-right" %>
    <% end %>
  </div>
</div>
<div style="margin-left:20%;">
<%= render "devise/shared/links" %>
</div>
