<%= form_for @wspolwla, :remote => true, :html => { :id => 'form_r_ws' } do |f| %>

  <div class="text-center">
  <div class="form-inline top-buffer">

      <label style="font-weight: bold;" for="szukaj_pesel">Szukaj : </label><input type="text" id="szukaj_pesel" name="szukaj_pesel" style="background:yellow;font-weight: bold; font-family: arial;" class="form-control input-sm" placeholder="Podaj pesel">
      <span style="padding-left: 5em"><input type="text" style="background:yellow;font-weight: bold; font-family: arial;" id="szukaj_nazwisko" name="szukaj_nazwisko" placeholder="Podaj nazwisko" class="form-control input-sm"></span>
    </div>
  </div>

          <fieldset>
            <legend><h6>Osoba</h6></legend>
            <div class="text-center">
            <div class="form-inline top-buffer">
              <div class="col-xs-3">
              <div class="form-group" >
                 <label for="peselw" class = "control-label">PESEL :</label>
                <%= f.text_field :pesel, :class => "form-control input-sm izolty", :id => "peselw", :style => "width:110px;" %>
              </div>
              </div>
              <div class="col-xs-6 col-sm-5">
              <div class="form-group">
              <label for="nazwiskow" class ="control-label">Nazwisko :</label>
              <%= f.text_field :nazwisko, :class => "form-control input-sm izolty", :id => "nazwiskow",:style => "width:240px;" %>
            </div>
            </div>
            <div class="col-xs-6 col-sm-4">
            <div class="form-group">
              <label for="imiew" class = "control-label">Imie :</label>
              <%= f.text_field :imie, :class => "form-control input-sm izolty", :id => "imiew" %>
            </div>
            </div>
            </div>
          </div>
          </fieldset>
          <fieldset>
            <legend><h6>Adres</h6></legend>
            <div class="text-center">
              <div class="form-inline top-buffer">
             <div class="col-xs-6 col-sm-2">
              <div class="form-group" >
              <label for="kodw" class = "control-label">Kod :</label>
              <%= f.text_field :kod, :class => "form-control input-sm izolty", :id => "kodw", :style => "width:70px;" %>
            </div>
          </div>
          <div class="col-xs-6 col-sm-5">
              <div class="form-group" >
              <label for="miejscowoscw" class ="control-label">Miejscowość :</label>
              <%= f.text_field :miejscowosc, :class => "form-control input-sm izolty", :id => "miejscowoscw" %>
            </div>
            </div>
            <div class="col-xs-6 col-sm-5">
              <div class="form-group" >
              <label for="ulicaw" class ="control-label">Ulica (Nr) :</label>
              <%= f.text_field :ulica, :class => "form-control input-sm izolty", :id => "ulicaw",:style => "width:240px;" %>
            </div>
            </div>
          </div>
            </div>
          </fieldset>
          <fieldset style="margin-top:7px;">
            <legend><h6>Prawo jazdy</h6></legend>
            <div class="text-center">
              <div class="form-inline top-buffer">
              <div class="col-xs-6 col-sm-6">
          <div class="form-group" >
            <label for="data_wydw" class ="control-label">Data wyd. :</label>
            <%= f.text_field :data_praw, :class => "form-control input-sm data", :id => "data_wydw", :style => "width:110px;" %>
          </div>
        </div>
               <div class="col-xs-6 col-sm-6">
                   <div class="form-group" >
                   <label for="typ_praw_idw" class ="control-label">Kategoria :</label>
                   <%= collection_select(:wspolwla, :typ_praw_id, TypPraw.all, :id, :rodzaj,{},{:class=>"form-control",:id => "typ_praw_idw"}) %>
                 </div>
               </div>
            </div>
          </div>
          </fieldset>

          <fieldset>
            <legend><h6>Uwagi</h6></legend>
            <div class="text-center">
              <div class="form-group" >
              <%= f.text_area :uwagi,:class => "form-control",:id => "uwagiw" %>

          </div>
            </div>
          </fieldset>
          <%= link_to "delete", @wspolwla, method: :delete,:remote => true, :id => "usun_ws_link" %>
    <% end %>

<div class="komunikat_ws" title="Uwaga">
</div>

<div class="komunikat_ws_u" title="Uwaga">
</div>
