<p id="notice"><%= notice %></p>

<p>
  <strong>Idryz:</strong>
  <%= @ryz_pol.idryz %>
</p>

<p>
  <strong>Idpol:</strong>
  <%= @ryz_pol.idpol %>
</p>

<p>
  <strong>Suma ubezp:</strong>
  <%= @ryz_pol.suma_ubezp %>
</p>

<p>
  <strong>Stawka:</strong>
  <%= @ryz_pol.stawka %>
</p>

<p>
  <strong>Uwagi:</strong>
  <%= @ryz_pol.uwagi %>
</p>

<p>
  <strong>Waluta:</strong>
  <%= @ryz_pol.waluta %>
</p>

<p>
  <strong>Kod taryfy:</strong>
  <%= @ryz_pol.kod_taryfy %>
</p>

<p>
  <strong>Przypis:</strong>
  <%= @ryz_pol.przypis %>
</p>


<p>
  <strong>Ilosc:</strong>
  <%= @ryz_pol.ilosc %>
</p>

<%= link_to 'Edit', edit_ryz_pol_path(@ryz_pol) %> |
<%= link_to 'Back', ryz_pols_path %>
