<%= form_for @raporty, :remote => true do |f| %>

<div class="form-inline">
<div class="col-md-6 margines2">
  <%= f.label :L1, "Linia 1", :class => "l" %>
  <%= f.text_field :L1, class: "form-control input-sm", :style => "width:350px;" %>
</div>
<div class="col-md-6 margines2">
  <%= f.label :L2, "Linia 2", :class => "l" %>
  <%= f.text_field :L2, class: "form-control input-sm", :style => "width:350px;" %>
</div>
</div>



<div class="form-inline">
 <div class="col-md-6 margines2">
  <%= f.label :L3, "Linia 3", :class => "l" %>
  <%= f.text_field :L3, class: "form-control input-sm", :style => "width:350px;" %>
</div>
 <div class="col-md-6 margines2">
  <%= f.label :L4, "Linia 4", :class => "l" %>
  <%= f.text_field :L4, class: "form-control input-sm", :style => "width:350px;" %>
</div>
</div>


<div class="form-inline">
 <div class="col-md-6 margines2">
  <%= f.label :L5, "Linia 5", :class => "margines l" %>
  <%= f.text_field :L5, class: "form-control input-sm", :style => "width:350px;" %>
</div>
 <div class="col-md-6 margines2">
  <%= f.label :L6, "Linia 6", :class => "margines l" %>
  <%= f.text_field :L6, class: "form-control input-sm", :style => "width:350px;" %>
 </div>
</div>


<div class="form-inline">
 <div class="col-md-6 margines2">
  <%= f.label :L7, "Linia 7 ", :class => "margines l" %>
  <%= f.text_field :L7, class: "form-control input-sm", :style => "width:350px;" %>
 </div>
<div class="col-md-6 margines2">
  <%= f.label :L8, "Linia 8", :class => "margines l" %>
  <%= f.text_field :L8, class: "form-control input-sm", :style => "width:350px;" %>
 </div>
</div>

<div class="form-inline">
 <div class="col-md-6 margines2">
  <%= f.label :L9, "Linia  9", :class => "margines l" %>
  <%= f.text_field :L9, class: "form-control input-sm", :style => "width:350px;" %>
</div>
 <div class="col-md-6 margines2">
  <%= f.label :L10, "Linia 10", :class => "margines" %>
  <%= f.text_field :L10, class: "form-control input-sm", :style => "width:350px;" %>
</div>
</div>

<div class="form-inline">
<div class="col-md-6 margines2">
  <%= f.label :L11, "Linia 11", :class => "margines" %>
  <%= f.text_field :L11, class: "form-control input-sm", :style => "width:350px;" %>
 </div>
<div class="col-md-6 margines2">
  <%= f.label :L12, "Linia 12", :class => "margines l" %>
  <%= f.text_field :L12, class: "form-control input-sm", :style => "width:350px;" %>
 </div>
</div>


<div class="form-inline">
 <div class="col-md-6 margines2">
  <%= f.label :L13, "Linia 13", :class => "margines" %>
  <%= f.text_field :L13, class: "form-control input-sm", :style => "width:350px;" %>
 </div>
<div class="col-md-6 margines2">
  <%= f.label :L14, "Linia 14", :class => "margines" %>
  <%= f.text_field :L4, class: "form-control input-sm", :style => "width:350px;" %>
 </div>
</div>

<div class="form-inline">
<div class="col-md-6 margines2">
  <%= f.label :L15, "Linia 15", :class => "margines" %>
  <%= f.text_field :L15, class: "form-control input-sm", :style => "width:350px;" %>
 </div>
<div class="col-md-6 margines2">
  <%= f.label :L16, "Linia 16", :class => "margines" %>
  <%= f.text_field :L16, class: "form-control input-sm", :style => "width:350px;" %>
</div>
</div>

<div class="form-inline">
<div class="col-md-6 margines2">
  <%= f.label :L17, "Linia 17", :class => "margines" %>
  <%= f.text_field :L17, class: "form-control input-sm", :style => "width:350px;" %>
</div>
<div class="col-md-6 margines2">
  <%= f.label :L18, "Linia 18", :class => "margines" %>
  <%= f.text_field :L18, class: "form-control input-sm", :style => "width:350px;" %>
</div>
</div>
<% end %>
