<%= form_for @towarzystwo, :remote => true, :html => { :id => 'form_r_towarzystwo' } do |f| %>
<div class="form-group" style="margin-bottom:7px;">
  <%= f.label :nazwa_max,"Pełna nazwa", :class => "margines" %>
  <%= f.text_field :nazwa_max, class: "form-control input-sm izolty" %>
</div>

<div class="form-inline text-center" style="margin-top:15px;">
<div class="row">
<div class="form-group col-md-2">
  <%= f.label :kod, "Kod", :class => "margines" %>
  <%= f.text_field :kod, class: "form-control input-sm izolty", style: "width:70px;" %>
</div>
  <div class="form-group col-md-5">
    <%= f.label :miasto,"Miasto", :class => "margines" %>
    <%= f.text_field :miasto, class: "form-control input-sm izolty", style: "width:260px;" %>
  </div>

  <div class="form-group col-md-5">
    <%= f.label :ulica, "Ulica", :class => "margines" %>
    <%= f.text_field :ulica, class: "form-control input-sm izolty", style: "width:260px;" %>
  </div>
 </div>
</div>

<div class="form-inline text-center" style="margin-top:15px;">
 <div class="row">
  <div class="form-group col-md-6">
    <%= f.label :bank,"Bank", :class => "margines" %>
    <%= f.text_field :bank, class: "form-control input-sm", style: "width:300px;"  %>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :oddzial,"Oddział", :class => "margines" %>
    <%= f.text_field :oddzial, class: "form-control input-sm", style: "width:300px;"  %>
  </div>
</div>
</div>



  <div class="form-inline text-center" style="margin-top:15px;">
   <div class="form-group">
    <%= f.label :nr_konta,"Nr. konta", :class => "margines" %>
    <%= f.text_field :nr_konta, class: "form-control input-sm", style: "width:400px;" %>
  </div>
  </div>

<div class="form-inline text-center" style="margin-top:15px;">
  <div class="form-group">
    <%= f.label :nazwa, "Nazwa skrócona", :class => "margines" %>
    <%= f.text_field :nazwa, class: "form-control input-sm izolty", style: "width:400px;" %>
  </div>
</div>

<div class="form-inline text-center" style="margin-top:15px;">
 <div class="row">
  <div class="form-group col-md-6">
    <%= f.label :email1,"email pierwszy", :class => "margines" %>
    <%= f.text_field :email1, class: "form-control input-sm izolty", style: "width:300px;" %>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :email2,"email drugi", :class => "margines" %>
    <%= f.text_field :email2, class: "form-control input-sm", style: "width:300px;" %>
  </div>
</div>
</div>

<div class="form-inline text-center" style="margin-top:22px;">
  <div class="form-group">
    <%= f.label :tel,"Telefony", :class => "margines" %>
    <%= f.text_field :tel, class: "form-control input-sm izolty", style: "width:600px;" %>
  </div>
</div>

<div class="form-inline text-center" style="margin-top:15px;">
  <div class="form-group">
    <%= f.label :fax,"Fax", :class => "margines" %>
    <%= f.text_field :fax, class: "form-control input-sm", style: "width:130px;" %>
  </div>

  <div class="form-group">
    <%= f.label :tel_ass,"Tel. assist", :class => "margines" %>
    <%= f.text_field :tel_ass, class: "form-control input-sm izolty", style: "width:250px;" %>
  </div>

  <div class="form-group">
    <%= f.label :tel_szk,"Tel. szkody", :class => "margines" %>
    <%= f.text_field :tel_szk, class: "form-control input-sm izolty", style: "width:400px;" %>
  </div>
</div>

<% end %>
