<%= form_for @towarzystwo, :remote => true, :html => { :id => 'form_r_towarzystwo' } do |f| %>
<div class="form-group" style="margin-bottom:7px;">
  <%= f.label :nazwa_max,"Pełna nazwa", :class => "margines" %><br>
  <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.nazwa_max %></p>
</div>

<div class="form-inline text-center" style="margin-top:15px;">
<div class="row">
<div class="form-group col-md-2">
  <%= f.label :kod, "Kod", :class => "margines" %>
  <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.kod %></p>
</div>
  <div class="form-group col-md-5">
    <%= f.label :miasto,"Miasto", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.miasto %></p>
  </div>

  <div class="form-group col-md-5">
    <%= f.label :ulica, "Ulica", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.ulica %></p>
  </div>
 </div>
</div>

<div class="form-inline text-center" style="margin-top:15px;">
 <div class="row">
  <div class="form-group col-md-6">
    <%= f.label :bank,"Bank", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.bank  %></p>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :oddzial,"Oddział", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.oddzial %></p>
  </div>
</div>
</div>



  <div class="form-inline text-center" style="margin-top:15px;">
   <div class="form-group">
    <%= f.label :nr_konta,"Nr. konta", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.nr_konta %></p>
  </div>
  </div>

<div class="form-inline text-center" style="margin-top:15px;">
  <div class="form-group">
    <%= f.label :nazwa, "Nazwa skrócona", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.nazwa %></p>
  </div>
</div>

<div class="form-inline text-center" style="margin-top:15px;">
 <div class="row">
  <div class="form-group col-md-6">
    <%= f.label :email1,"email pierwszy", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.email1 %></p>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :email2,"email drugi", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.email2 %></p>
  </div>
</div>
</div>

<div class="form-inline text-center" style="margin-top:22px;">
  <div class="form-group">
    <%= f.label :tel,"Telefony", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;"><%= @towarzystwo.tel %></p>
  </div>
</div>

<div class="form-inline text-center" style="margin-top:15px;">
  <div class="form-group">
    <%= f.label :fax,"Fax", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;width:130px;"><%= @towarzystwo.fax %></p>
  </div>

  <div class="form-group">
    <%= f.label :tel_ass,"Tel. assist", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;width:250px;"><%= @towarzystwo.tel_ass %></p>
  </div>

  <div class="form-group">
    <%= f.label :tel_szk,"Tel. szkody", :class => "margines" %>
    <p style="font-weight: bold;color:#00008b;width:400px;"><%= @towarzystwo.tel_szk %></p>
  </div>
</div>

<% end %>
