
<fieldset style="height: 430px; width:98%;margin-left:1%; border:1px solid #000; border-radius: 5px; -moz-border-radius: 15px; background:lightyellow;">
  <div style="margin-top:6px; margin-bottom: 6px;" class="row">
   <div class="col-md-2">
      <%= button_to('Dodaj / Usuń / Zwróć', new_magazyn_path, :class => 'btn btn-success', :remote => true, :method => :get, :id => "dodaj_mag", :style => "margin-left:10px")  %>
   </div>
   <div class="col-md-2">
  <!--button id="dodaj_mag" class="btn btn-success" style="margin-left:10px;">Dodaj/Usuń/Zwróć</button-->
   <button id="pokaz_mag" class="btn btn-primary">Pokaż wszystkie dokumenty</button>
 </div>
  </div>
  <div id="t5mag" style="display: block;">


  <table id="magazyn" class="display">
   <thead style="background-color:ThreeDFace;">
    <tr>
     <th width="20px" style="padding-left:2px !important;padding-right: 2px !important;"></th>
     <th width="20px" style="padding-left:2px !important;padding-right: 2px !important;"></th>
     <th>id</th>
     <th style="padding-left:2px !important;padding-right: 2px !important;">
       <label style="font-size: 11px;">Numer</label><br>

       <input id="m_szukaj_num" type="text" class="form-control input-sm" style="font-size:12px" placeholder="Szukaj numer" />
     </th>
     <th style="padding-left:2px !important;padding-right: 2px !important;">
       <label style="font-size: 11px;">TU</label><br>
       <!--select id="m_szukaj_tu" class="ibialy z"-->
       <%= select_tag "tu", options_from_collection_for_select(@towarzystwa, "id", "nazwa"), :prompt => "wybierz", :class => "form-control input-sm", :style => "font-size:12px" %>


     </th>
     <th style="padding-left:2px !important;padding-right: 2px !important;">
       <label style="font-size: 11px;">Dokument</label><br>
       <%= select_tag "dokument", options_from_collection_for_select(@nazwa_dr, "id", "nazwa"), :prompt => "wybierz", :class => "form-control", :style => "font-size:12px" %>
       <!--select id="m_szukaj_dok" class="ibialy z"-->
     </th>
     <th style="padding-left:2px !important;padding-right: 2px !important;">
       <label style="font-size: 11px;">Użytkownik</label><br>
       <!--select id="m_szukaj_user" class="ibialy z"-->
       <%= select_tag "uzytkownik", options_from_collection_for_select(@users, "id", "nazwa"), :prompt => "wybierz", :class => "form-control", :style => "font-size:12px" %>

     </th>
     <th style="padding-left:2px !important;padding-right: 2px !important;">
       <label style="font-size: 11px;">Stan</label><br>
       <!--select id="m_szukaj_stan" class="ibialy z"-->
          <%= select_tag "stan", options_from_collection_for_select(@stans, "id", "stan"), :prompt => "wybierz", :class => "form-control", :style => "font-size:12px" %>

     </th>
     <th style="padding-left:2px !important;padding-right: 2px !important;">
       <label style="font-size: 11px;">Data wpłyn.</label><br>
        <div class="form-group form-inline nomargin">
       <input id="m_szukaj_dataw" type="text" size="10" class="form-control input-sm data" style="font-size:12px" placeholder="Szukaj data wpłyn." />
     </div>
     </th>
     <th style="padding-left:2px !important;padding-right: 2px !important;">
       <label style="font-size: 11px;">Data zdarz.</label><br>
       <div class="form-group form-inline nomargin">
         <input id="m_szukaj_dataz" type="text"  size="10" class="form-control input-sm data" style="font-size:12px" placeholder="Szukaj data zdarz." />
      </div>
     </th>
   </tr>
  </thead> 
 </table>
 </div>
</fieldset>
</div>

<!--div id="historia_dok" title="Historia dokumentu">
 <fieldset style="height: 320px; width:98%;margin-left:1%; border:1px solid #000; border-radius: 5px; -moz-border-radius: 15px; background:lightyellow;">
  <table id="h_magazyn" class="display" style="font-style: verdana;font-size: 11px;">
   <thead style="background-color:ThreeDFace;">
       <tr>
           <th>id</th>
           <th>Numer</th>
           <th>idtu</th>
           <th>TU</th>
           <th>idnazwa</th>
           <th>Typ dokumentu</th>
           <th>Stan</th>
           <th>Użytkownik</th>
           <th>Data wplyn.</th>
           <th>Data zdarz.</th>
       </tr>
   </thead>
  </table>
</fieldset-->


 <div id="f_mag" style="text-align:center; width:490px" title="Magazyn">
</div>

<div id="alert_mag_dodaj" style="text-align:center; width:490px" title="Uwaga">
</div>


<div id="mag_e" title="Pozycja z magazynu">
</div>


<div id="historia_dok" title="Historia dokumentu">
</div>
