<!DOCTYPE html>
<html>
<head>
  <title>Agent</title>
     <noscript>
        <meta http-equiv="refresh" content="0;url=http://www.enable-javascript.com/pl">
    </noscript>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>

<body style="background-color:#DEB887;margin:0px;">
  <header class="cd-header" style="height:0px;">
  </header>
  <div style="height: 120px;background-color: #A0522D;padding:20px;">

     <div class="col-md-3" id="obraz"><%= image_tag("service1.gif",size: "80x80", :class => "pull-right") %></div>
     <div class="col-md-9" id="tekst"><div class="pull-left" style="margin-top: 20px;color:white;font-family:	Open Sans,​sans-serif;font-size: 36px;">Agencja - system obsługi agentów.</div></div>
   </div>
  <%= yield %>
</body>
</html>
