<!DOCTYPE html>
<html>
<head>
  <title><%= "Agent #{current_user.nazwa}" %></title>
  <noscript>
     <meta http-equiv="refresh" content="0;url=http://www.enable-javascript.com/pl">
 </noscript>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div style="width:40px;float:right;">
  <header class="cd-header">
      <a href="" class="cd-3d-nav-trigger" id='menu0'>
        Menu
        <span></span>
      </a>
    </header> <!-- .cd-header -->
  </div>
    <div style="float:left; margin-top:3px; width: -webkit-calc(100% - 40px); width:-moz-calc(100% - 40px); width: calc(100% - 40px);">
    <main style="font-size:100% !important">
      <%= yield %>
    </main>
  </div>
<nav class="cd-3d-nav-container">
  <ul class="cd-3d-nav">
    <li <% if [params[:controller], params[:action]] == ["osobas","index"] %>class="cd-selected"<% end %>>
      <!--a  id="m1" href="#">Home</a-->
      <%= link_to "Home", osobas_path, :id => "m1" %>
    </li>

    <li>
      <!--a  id="m2" href="#">Nowy<br />klient</a-->
      <%= link_to "Nowy klient", new_osoba_path(), :id => "m2", remote: true %>
    </li>

    <li>
      <!--a  id="m3" href="#">Nowa<br />polisa</a-->
      <%= link_to "Nowa polisa" , new_polisa_path(), :id => "m3", remote: true %>
    </li>

    <li <% if [params[:controller], params[:action]] == ["pojazds","index"] %>class="cd-selected"<% end %>>
      <%= link_to "Pojazdy", pojazds_path, :id => "m4" %>
    </li>

    <li>
      <%= link_to "Szukaj polisę",osoba_szukaj_form_path, :id => "m5", remote: true %>
    </li>

    <li <% if [params[:controller], params[:action]] == ["przypomnienias","index"] %>class="cd-selected"<% end %>>
      <%= link_to "Przypomnienia", przypomnienias_path, :id =>"m6" %>
    </li>

    <li <% if [params[:controller], params[:action]] == ["excels","index"] %>class="cd-selected"<% end %>>
      <%= link_to "Wykaz", excels_path, :id =>"m7" %>
    </li>

    <li <% if [params[:controller], params[:action]] == ["magazyns","index"] %>class="cd-selected"<% end %>>
      <%= link_to "Magazyn", magazyns_path, :id =>"m8" %>
    </li>

    <li>
      <%= link_to "Wyloguj", '/users/sign_out', method: :delete, :id =>"m9" %>
    </li>

    <li  <% if [params[:controller], params[:action]] == ["administracjas","index"] %>class="cd-selected"<% end %>>
      <%= link_to "Administracja", administracjas_path, :id =>"m10" %>
    </li>
  </ul> <!-- .cd-3d-nav -->
  <span class="cd-marker color-1"></span>
</nav> <!-- .cd-3d-nav-container -->


<div id="alert_t" title="Uwaga" style="background-color:white;">
</div>

<div id="komunikat_os" title="Uwaga" style="background-color:white;">
</div>

<div id="komunikat_p" title="Uwaga">
</div>

<div id="szukaj_pol" title="Szukaj polis">
</div>

<div id="osobafd" title="Klient" style="background-color:white;">
  <div class="osoba_dane">
  </div>
</div>



<div id="wspolwlafd" title="Współwłaściciel" style="background-color:white;">
</div>


<div id="platnosc" title="Szczegóły płatności" style="background-color:white;">
</div>

<%= render 'polisas/dialog_polisa' %>

</body>
</html>
